input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.inputOuter {
    display: flex;
    padding:8px;
}

.numberInput {
    width: 44px;
    height: 44px;
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    text-align: center;
}

.inputButton {
    width: 48px;
    height: 48px;
    background: none;
    border: 2px solid #8cb6d4;
    border-radius: 4px;
    font-size: 24px;
    color: #8cb6d4;
}

.numberInput:disabled {
    opacity: 0.3;
}

.inputButton:disabled {
    opacity: 0.3;
}